
{{ 'summer-campaign.css' | asset_url | stylesheet_tag }}

{% stylesheet %}

{% endstylesheet %}


<section class="cta1">
<div class="cta-img">
    {% if section.settings.background_image !=blank %}
    
       <img src="{{ section.settings.background_image | img_url: 'master' }}" >

    {% else %}
     {{ 'lifestyle-1' | placeholder_svg_tag }}
    {% endif %}
</div>

<div class="cta-content">
    <div class="cta-summer-header">
        {% if section.settings.heading !=blank %}
            <h2> {{ section.settings.heading }}</h2>
        {% endif %}
    </div>
    {{ section.settings.text_area }} 
<!-- textarea is p tag by itself -->
    <div class="summer-button">
    {% if section.settings.button_link !=blank and section.settings.button_text !=blank %}
        <a href="{{ section.settings.button_link }}" class="button">{{ section.settings.button_text }}</a>
     {% endif %}
    </div>
    </div>
</section>

{% schema %}
{
"name": "Summer-Campaign",
"tag": "section",
"class": "cta1",
"settings": [
{
"type": "image_picker",
"id": "background_image",
"label": "Background Image"
},
{
"type": "checkbox",
"id": "hello",
"label": "hello",
"default": true
},
{
"type": "product_list",
"id": "product_list",
"label": "Products",
"limit": 12
},
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "richtext",
"id": "text_area",
"label": "text area"
},
{
"type": "url",
"id": "button_link",
"label": "Button link"
},
{
"type": "text",
"id": "button_text",
"label": "Button text"
//"default": "Quick links"
}
],
"presets": [
{
  "name": "Summer-Campaign"
}
]
}
{% endschema %}